<h1 id="title">eat-A-Burger!</h1>

<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <form class="create-burger">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Burger Here" id="newburger">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Sumbit</button>
                    </span>
                </div>
                <!-- /input-group -->
        </div>
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->

<br>

<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Burger's Ordered</h3>
        </div>
        <div class="panel-body">
            {{#each burgers}} {{#unless this.devoured}} {{this.id}}. {{this.burger_name}}
            <span id="right">
                <button data-id="{{this.id}}" type="button" class="devour-btn btn btn-success btn-xs float-right">Done</button>
            </span>
            <hr> {{/unless}} {{/each}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Eaten Burgers</h3>
        </div>
        <div class="panel-body">
            {{#each burgers}} {{#if this.devoured}}
            <span id="devoured-item">{{this.id}}. {{this.burger_name}}</span>
            <hr> {{/if}} {{/each}}
        </div>
    </div>
</div>

</div>